.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.custom-sidebar{
  min-height: 800px;
}

.custom-post-card{
  margin:15px;
}

.custom-badge{
  margin: 5px;
}

.custom-create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}